$border-radius: 4px;

//Primary 
$green: #016624;
$green-ligth: #00DD7D;
$green-dark: #001A0A;
$green-background: #000E00;
$green-footer: #0A0A0A;


//Secondary
$yellow: #DEE04A;
$yellow-ligth: #F2D7A3;
$yellow-dark: #C99E60;

//Gradients
$green-g: linear-gradient(90deg, rgba(80,95,75,1) 0%, rgba(52,69,50,1) 100%);

//Auxiliary
$red: #EB3D3D;
$red-light: #F05454;
$red-dark: #D03333;

// $green-1: #32D957;
// $green-2: #50E170;
// $green-3: #28BB49;

$yellow-1: #FFCE52;
$yellow-2: #FFD76B;
$yellow-3: #D9B043;

//White
$white: #FFF9E9;
$white-light: #FBF8FC;
$white-dark: #B5B9A8;

//Black
$black: #232224;
$black-light: #353436;
$black-dark: #161617;

//Gray
$gray-1: #454446;
$gray-2: #555456;
$gray-3: #666566;
$gray-4: #7F847D;
$gray-5: #868587;
$gray-6: #969597;
$gray-7: #A6A6A7;
